{% extends "layout.html.twig" %}
{% set adminMenu = true %}

{% block title %}Administration{% endblock %}

{% block content %}

{% set linksJSON = [] %}
{% for link in links %}
    {% set linksJSON = linksJSON|merge([{"id" : link.id, "title" : link.title, "username" : link.user.username, "desc" : link.desc}]) %}
{% endfor %}

{% set usersJSON = [] %}
{% for user in users %}
    {% set usersJSON = usersJSON|merge([{"id" : user.id, "username" : user.username}]) %}
{% endfor %}

 <script>
    let links = JSON.parse('{{ linksJSON | json_encode | raw }}');
    let users = JSON.parse('{{ usersJSON | json_encode | raw }}');
 </script>

<h2 class="text-center">{{ block('title') }}</h2>
{% for flashMessage in app.session.flashbag.get('success') %}
<div class="alert alert-success">
    {{ flashMessage }}
</div>
{% endfor %}
<div class="row">
    <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
        <ul class="nav nav-tabs nav-justified">
            <li class="btn_linksAdmin active"><a href="#links" data-toggle="tab" id="button-links">Links</a></li>
            <li class="btn_linksAdmin"><a href="#users" data-toggle="tab" id="button-users">Users</a></li>
        </ul>
    </div>
</div>
<div class="tab-content">
    <div class="tab-pane fade in active adminTable" id="links">
        <a href="{{ path('admin_link_add') }}"><button type="button" class="btn btn-primary2"><span class="glyphicon glyphicon-plus"></span> Add link</button></a>
        {% if links %}
        <div class="table-responsive tableLinksAdmin">
            <table class="table table-hover table-condensed table-striped">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Author</th>
                        <th>Description</th>
                        <th></th>  <!-- Actions column -->
                    </tr>
                </thead>
                <tbody id="links-container"></tbody>
            </table>
        </div>
        <!-- Pagination for links -->
        <script src="{{ app.request.basepath }}/js/links_pagination.js"></script>
        {% else %}
        <div class="alert alert-warning">No links found.</div>
        {% endif %}
        <div id="links-pagination"></div>
    </div>

    <div class="tab-pane fade adminTable" id="users">
        <a href="{{ path('admin_user_add') }}"><button type="button" class="btn btn-primary2"><span class="glyphicon glyphicon-plus"></span> Add user</button></a>
        {% if users %}
        <div class="table-responsive tableLinksAdmin">
            <table class="table table-hover table-condensed">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th></th>  <!-- Actions column -->
                    </tr>
                </thead>
                <tbody id="users-container"></tbody>
            </table>
        </div>
        <!-- Pagination for users -->
        <script src="{{ app.request.basepath }}/js/users_pagination.js"></script>
        {% else %}
        <div class="alert alert-warning">No users found.</div>
        {% endif %}
        <div id="users-pagination"></div>
    </div>

    
</div>
{% endblock %}
